<script>
  if (global === undefined) {
    var global = window;
  }
</script>




<div style="text-align:center; margin-top: 150px;">
  <div class="progress">
    <div  *ngFor="let c of notif" class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <h1 style="font-size: 4em;">

        Notifications : <span style="color: red;">+{{ notifications.counter }}</span>
        <span style="color: red;">+{{ notifications.name }}</span>
        <span  style="color: red;">+{{ notifications.List }}</span>



    </h1>
    <ul>
      <li *ngFor='let key of notificationsTotal'>
       Key: {{key.leftHours}}, value: {{key.username}}
      </li>
    </ul>
    <div class="first">
        <div   [ngStyle]="{'width.%':width}" class="second"></div>

      </div>
</div>
