<div class="container">
    <div class="card animated fadeInUp animation-delay-7">
      <div class="ms-hero-bg-royal ">
        <h3 class="color-white index-1 text-center pb-4 pt-4">Project's</h3>

      </div>
      <div class="card-block" *ngFor="let c of ListProject">

        <div class="ms-media-list" id="projectId">
          <div class="media mb-2">
            <a class="mr-3" [routerLink]="['projectDetail']">
              <img class="media-object" src="../../../assets/images/avatarProject.png"> {{c.namespace}}</a>
            <div class="media-body">
              <h4 class="mt-0 mb-0 color-warning">{{c.name}}</h4>

              <a href="mailto:joe@example.com?subject=feedback"></a>
              <div class="">
                <details (click)="SearchSprint(c.name)">
                  <summary><a role="button">details</a> </summary>



                  <article class="card card-primary wow zoomInRight animation-delay-5 mb-4"
                    style="visibility: visible; animation-name: zoomInRight;">
                    <div class="card-block card-block-big">
                      <div class="row">
                        <div class="">
                          <img src="assets/img/demo/post1.jpg" alt="" class="img-fluid mb-4"> </div>

                        <div class="col-xl-6 mb-6">
                          <h3 class="no-mt">
                            <a href="javascript:void(0)">description</a>
                            <br />

                            <h4 class="forcage">{{c.description}}</h4>
                            <hr class="dashed">
                            <a href="javascript:void(0)">Sprints of the project "{{c.name}}"</a>
                          </h3>



                          <div class="card" *ngFor="let s of ListSprints">
                            <div *ngIf="ListSprints?.length > 0">
                              <table class="table table-no-border">

                                <tr>
                                  <th>Id </th>
                                  <th>Sprint name </th>
                                  <th>Starting date </th>
                                  <th>deadline</th>
                                  <th>dayNumber</th>
                                </tr>
                                <tr>

                                  <td>

                                    <a data-toggle="tooltip" data-placement="top" title="Hooray!">{{s.idSprint}}</a></td>
                                  <td><a data-placement="bottom" title="hit me to see my tasks!">{{s.sprintName}}</a></td>
                                  <td><a data-placement="bottom" title="hit me to see my tasks!">{{s.startingDate}}</a>
                                  </td>
                                  <td><a data-placement="bottom" title="hit me to see my tasks!">{{s.endDate}}</a></td>
                                  <td><a data-placement="bottom" title="hit me to see my tasks!">{{s.dayNumber}}</a></td>

                                </tr>
                              </table>

                            </div>
                            <a href="" data-toggle="modal" data-target="#modalTaskList" (click)="GetListTask(s.idSprint)">
                              <i _ngcontent-c5="" class="ml-1 no-mr zmdi zmdi-long-arrow-right">Edit sprint Tasks</i></a>
                          </div>

                          <div *ngIf="ListSprints?.length === 0">

                            <h2>no backlog for this</h2>

                          </div>
                        </div>




                      </div>

                    </div>

                    <div class="row">
                      <div class="col-lg-8">
                        by
                        <a href="#">{{c.name}}</a>
                      </div>
                      <div class="col-lg-4 text-right">
                        <a href="home/projects#projectId"><i class="material-icons">
                            read less
                          </i>
                          <i class="ml-1 no-mr zmdi zmdi-long-arrow-right"></i>
                        </a>
                      </div>
                    </div>
                  </article>
                </details>
              </div>
            </div>
          </div>

        </div>
        <hr class="double dashed">
      </div>

    </div>
  </div>
