<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <div class="row">
        <div class="col-lg-12 col-md-6 order-md-1">
          <div class="card animated fadeInUp animation-delay-7">
            <div class="ms-hero-bg-primary ms-hero-img-coffee">
              <h3 class="color-white index-1 text-center no-m pt-4">{{auth.name}}</h3>
              <div class="color-medium index-1 text-center np-m">@{{auth.username}}</div>
              <img src="../../assets/images/chaim.jpg" alt="..." class="img-avatar-circle"> </div>
            <div class="card-block pt-4 text-center">
              <h3 class="color-primary">Bio</h3>
              <p>Hello me :p ,nobody will see that except me :p weirdy stuffs happening....crazy me.</p>
              <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mt-1 mr-1 no-mr-md btn-facebook">
                <i class="zmdi zmdi-facebook"></i>
              </a>
              <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mt-1 mr-1 no-mr-md btn-twitter">
                <i class="zmdi zmdi-twitter"></i>
              </a>
              <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mt-1 mr-1 no-mr-md btn-instagram">
                <i class="zmdi zmdi-instagram"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-12 col-md-12 order-md-3 order-lg-2">
          <a href="javascript:void(0)" class="btn btn-warning btn-raised btn-block animated fadeInUp animation-delay-12">
            <i class="zmdi zmdi-edit"></i> Edit Profile</a>

        </div>

      </div>
    </div>
    <div class="col-lg-8">
      <div class="row">
        <div class="col-sm-4">
          <div class="card card-info card-block text-center wow zoomInUp animation-delay-2" style="visibility: visible; animation-name: zoomInUp;">
            <h2 class="counter color-info"><span class="counter">{{NumberAuthors}}</span></h2>
            <i class=" ion-person font-big color-info"></i>
            <p class="mt-2 no-mb lead small-caps color-info">developpers</p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card card-success card-block text-center wow zoomInUp animation-delay-5" style="visibility: visible; animation-name: zoomInUp;">
            <h2 class="counter color-success"><span class="counter">{{NumberProject}}</span></h2>
            <i class="fa fa-4x fa-briefcase color-success"></i>
            <p class="mt-2 no-mb lead small-caps color-success">projects done</p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card card-royal card-block text-center wow zoomInUp animation-delay-4" style="visibility: visible; animation-name: zoomInUp;">
            <h2 class="counter color-royal">4</h2>
            <i class="fa fa-4x fa-comments-o color-royal"></i>
            <p class="mt-2 no-mb lead small-caps color-royal">teams</p>
          </div>
        </div>
      </div>
      <div class="card card-primary animated fadeInUp animation-delay-12">
        <div class="card-header">
          <h3 class="card-title">
            <i class="zmdi zmdi-account-circle"></i> General Information</h3>
        </div>
        <table class="table table-no-border table-striped">
          <tbody><tr>
            <th>
              <i class="zmdi zmdi-account mr-1 color-success"></i> User Name</th>
            <td>{{auth.username}}</td>
          </tr>
          <tr>
            <th>
              <i class="zmdi zmdi-face mr-1 color-warning"></i> Fullname</th>
            <td>{{auth.name}}</td>
          </tr>
          <tr>
            <th>
              <i class="zmdi zmdi-email mr-1 color-danger"></i> Email</th>
            <td>
              {{auth.email}}
            </td>
          </tr>

          <tr>
            <th>
              <i class="zmdi zmdi-email mr-1 color-danger"></i> role</th>
            <td>
              {{auth.role}}
            </td>
          </tr>


        </tbody></table>
      </div>

    </div>
  </div>
</div>
