<footer id="gtco-footer" role="contentinfo">
  <div class="container">

    <div class="row copyright">
      <div class="col-md-12">
        <p class="pull-left">
          <small class="block">© 2018 HRDatabank TipiGit.</small>
          <small class="block">HRDATABANK TUNISIE SARL, a member or WILLGROUP, Inc. Japan</small>
          <a href="https://about.hrdatabank.com/">the company website </a>
        </p>
        <p class="pull-right">
          </p><ul class="gtco-social-icons pull-right">
            <li><a href="#"><i class="icon-twitter"></i></a></li>
            <li><a href="#"><i class="icon-facebook"></i></a></li>
            <li><a href="#"><i class="icon-linkedin"></i></a></li>
            <li><a href="#"><i class="icon-dribbble"></i></a></li>

          </ul>
        <p></p>
      </div>
    </div>

  </div>

</footer>
