
  <div >
      <div class="ms-hero-bg-royal ">
          <h3 class="color-white index-1 text-center pb-4 pt-4">Commit List</h3>

        </div>

    <ul *ngFor="let commits of commitList" >
  <li class="list-group-item"><i class="zmdi zmdi-comments"></i> commit message :{{commits.message}}
    <br>   <div><i class="zmdi zmdi-calendar"></i>  date of commit: {{commits.timestamp}}</div>

  </li>

</ul>
</div>
