<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="theme-color" content="#333">
    <title>Material Style</title>
    <meta name="description" content="Material Style Theme">
    <link rel="shortcut icon" href="img/favicon.png?v=3">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  </head>
  <body>

    <div class="bg-full-page ms-hero-bg-dark ms-hero-img-airplane back-fixed">
      <div class="mw-500 absolute-center">
        <div class="card color-dark shadow-6dp animated fadeIn animation-delay-7">
          <div class="ms-hero-bg-primary ms-hero-img-mountain">
            <h2 class="text-center no-m pt-4 pb-4 color-white index-1">Login Form</h2>
          </div>
          <ul class="nav nav-tabs nav-tabs-full nav-tabs-3 nav-tabs-transparent indicator-primary" role="tablist">
            <li class="nav-item" role="presentation">
              <a href="#ms-login-tab" aria-controls="ms-login-tab" role="tab" data-toggle="tab" class="nav-link withoutripple active">
                <i class="zmdi zmdi-account"></i> Login</a>
            </li>
          </ul>
          <div class="card-block">
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane fade active show" id="ms-login-tab">
                <form>
                  <fieldset>
                    <div class="form-group label-floating">
                      <div class="input-group">
                        <span class="input-group-addon">
                          <i class="zmdi zmdi-account"></i>
                        </span>
                        <label class="control-label" for="ms-form-user">Username</label>
                        <input type="text" id="ms-form-user" class="form-control" [(ngModel)]="username" name="first"> </div>
                        <span  *ngIf="invalidLogin" style="color:brown;font-weight:bold"class="error-message">
                          enter correct username please: required fiel
                        </span>
                      </div>
                    <div class="form-group label-floating">
                      <div class="input-group">
                        <span class="input-group-addon">
                          <i class="zmdi zmdi-lock"></i>
                        </span>
                        <label class="control-label" for="ms-form-pass">Password</label>
                        <input type="password" id="ms-form-pass" class="form-control" [(ngModel)]="password" name="pass">
                      <span *ngIf="invalidLogin" style="color:brown;font-weight:bold"class="error-message">
                enter correct password please
              </span> </div>
                    </div>
                    <div class="row mt-2">
                      <div class="col-5">
                        <div class="form-group mt-1">
                          <div class="checkbox">
                            <label>
                              <input type="checkbox"> Remember </label>
                          </div>
                        </div>
                      </div>
                      <div class="col-7">

                        <button (click)="checkLogin(username,password)"  class="btn btn-raised btn-primary pull-right">Login</button>
                      </div>
                    </div>
                  </fieldset>
                </form>

              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <script src="../../assets/js/plugins.min.js"></script>
    <script src="../../assets/js/app.min.js"></script>
  </body>
</html>
