<div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center " style="background-color: #8bc34a">
        <h4 class="modal-title w-100  font-weight-bold " style="color:white">Modify Author</h4>
        <button type="button" style="color:rgb(239, 239, 243)" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <div class="md-form mb-5">
          <i class="material-icons">
            face
          </i>
          <label data-error="wrong" data-success="right" for="defaultForm-email"> name</label>
          <input type="email" id="name" class="form-control validate">

        </div>

        <div class="md-form mb-4">
          <i class="material-icons">
            email
          </i>
          <label data-error="wrong" data-success="right" for="defaultForm-pass">email</label>

          <input type="email" id="email" class="form-control validate">
        </div>
        <div class="md-form mb-4">
          <i class="material-icons">
            portrait
          </i>
          <label data-error="wrong" data-success="right" for="defaultForm-pass">role</label>
          <input type="email" id="role" class="form-control validate">

        </div>
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <div class="modal-footer d-flex justify-content-left">

          <button class="btn btn-raised btn-success">Add</button>
        </div>
        <div class="modal-footer d-flex justify-content-right">
          <button class="btn btn-danger" data-dismiss="modal" style="color:white">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="text-center"id="entete">
  <a href="" class="btn btn-default btn-rounded mb-4" title="Hooray!" data-toggle="modal"
    data-target="#modalLoginForm">Launch
    Modal Login Form</a>
</div>
<div class="row row-centered">

  <div class="col-md-8 col-md-offset-2">
    <div class="card card-royal">
      <div class="card-header" >
        <h3 style="color: #ffcc99 ;text-decoration: underline;font-size: x-large;text-align: center;"
        class="card-title ">
          <i class="material-icons">
            dashboard
          </i> user tasks {{user}}</h3>
      </div>

<ul class="nav nav-tabs nav-tabs-transparent indicator-royal nav-tabs-full nav-tabs-3">
			<li class="active">
        <a class="link" href="#1" data-toggle="tab">To do tasks</a>
			</li>
			<li><a class="link" href="#2" data-toggle="tab">In progress Tasks</a>
			</li>
			<li><a class="link" href="#3" data-toggle="tab">Done tasks</a>
			</li>
		</ul>

			<div class="tab-content ">
			  <div class="tab-pane active" id="1">
          <div class="card card-info-inverse" *ngFor="let c of TaskTodo">

            <div *ngIf="TaskTodo?.length > 0">
              <div class="card-block text-center">

                <h4 class="color-light">Task Id:{{c.keyTask}}</h4>
                <p>Description :{{c.description}} , Deadline:{{c.endingDate}} </p>
              </div>


              <a style="color:white!important" href="home/test#entete"> up
                <i class="material-icons">
                  vertical_align_top
                </i></a>
            </div>
            <div    *ngIf="TaskTodo?.length === 0">
              <div class="card-block text-center">

                <h4 class="color-light">Task Id</h4>
                <p>Description </p>
              </div>
            </div>


          </div>
				</div>
				<div class="tab-pane" id="2">
          <div class="  card card-warning-inverse" *ngFor="let tp of TaskInprogress">
            <div class="card-block text-center">

              <h4 class="color-light">Task Id: {{tp.keyTask}}</h4>
              <p>Description:{{tp.description}}, Deadline: {{tp.endingDate}} </p>
            </div>
            <a style="color:white!important" href="home/test#entete">up
              <i class="material-icons">
                vertical_align_top
              </i></a>
          </div>
				</div>
        <div class="tab-pane" id="3">
          <div class="card card-success-inverse" *ngFor="let done of TaskDone">
            <div *ngIf="TaskDone.length > 0">
            <div class="card-block text-center">

              <h4 class="color-light">Task I{{done?.length}}</h4>
              <p>Description:{{done.description}} , Deadline: {{done.endingDate}} </p>
              <a style="color:white!important" href="home/test#entete">
                <i class="material-icons">
                  vertical_align_top
                </i></a>
            </div>
          </div>
          <div  *ngIf="TaskDone.length === 0">
            <div class="card-block text-center">
              <h1>no data yet </h1>
            </div>


          </div>
				</div>
			</div>
  </div>

</div></div>
</div>


<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>




<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
