
    <div class="main">
        <h1>Project REPORT</h1>


        <div class="row">

            <div class="col-sm-3">
              <div class="sidebar-nav ScrollStyle">
                <div class="navbar navbar-default " style="background-color: floralwhite !important" role="navigation">
                  <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </button>
                    <span class="visible-xs navbar-brand">Sidebar menu</span>
                  </div>
                  <div class="navbar-collapse collapse sidebar-navbar-collapse">
                    <ul *ngFor="let c of ListProject"  class="nav navbar-nav">
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{c.name}} <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                          <li (click)="fetchData(c.name)"><a >show graph</a></li>
                          <li class="divider"></li>
                          <li><a href="#">Something else here</a></li>
                          <li class="divider"></li>



                        </ul>
                      </li>

                    </ul>
                  </div><!--/.nav-collapse -->
                </div>
              </div>
            </div>
            <div   class="col-sm-9">
              <!-- Main Content -->
              <div    style="width: 100%">
                  <canvas id="doughnut"></canvas>
                </div>
                <div class="footer">
                    <a href="#" (click)="downloadCanvas($event)"> DOWNLOAD Graph</a>
                  </div>
            </div>
            <!--<div *ngIf="!Notshow"class="col-sm-9" >
              <h1> no tasks available please add backlog in order to see graphes
                </h1>
              <img src="../../assets/images/dataInavailable.jpg">
            </div>
          -->
          </div>









