.search{
  margin-right: 10px;
  margin-left: 10px;
  height: 30px;
  border-radius: 5px;
}
.button3 {
  background-color: white;
  color: black;
  border: 2px solid #FFB6B8;
  border-radius: 5px;

}

.button3:hover {
  background-color: #C44C51;
  color: white;
}
.btn {
  height:40px !important;
  background-color: #09b393 !important;
  border-color:#dee4ed !important;
  border-bottom-color:#dee4ed;
  color:white !important;
  border-radius:30px;

}
input.ng-valid
{
border: 1px solid green;
box-shadow: 0 0 0 0.2rem rgba(0, 137, 10, .25);

}

input.ng-invalid.ng-touched
{
border: 1px solid red;
box-shadow: 0 0 0 0.2rem rgba(255, 43,27, .25);

}



.btn:hover{
  background-color:#ffffff!important;
  border-color:#09b393!important;
  color:#09b393 !important;

  color: black;
}
.panel-heading{
  background-color: #09b393;
  border-bottom-color: #09b393;
}
.panel-primary{
  border-color: #09b393;
}
ul li{

  color: #09b393 !important;
}
table.table td a.add {
  color: #27C46B;
  margin-right: 15px;
  cursor: pointer;
}
table.table td a.edit {
  color: #FFC107;
  margin-right: 15px;
  cursor: pointer;


}

table.table td a.delete {
  color: #E34724;
  margin-right: 15px;
  cursor: pointer;

}



