<div class="container spacer">
  <div class="panel panel-primary">
    <div class="panel-heading">Author List</div>
    <div class="panel-body">

      <div class="form-group">

          <button class="button button3 float-right"
          data-target="#TeamModel"  data-toggle="modal" (click)="getTeam()">Team List</button>
        <label>KEY WORD</label>
        <input type="text" [(ngModel)]="keyWord" class="search" (input)="search()" />

        <button class="btn btn-primary " (click)="search()"> search author</button>
      </div>
      <table class="table table-striped" id="datatable">
        <tr>
          <th>Name </th>
          <th>pseudo</th>
          <th>Email </th>
          <th>password</th>
          <th>Role</th>
          <th>Actions</th>
        </tr>
        <tr *ngFor="let c of pageAuthors?.content">
          <td>{{c.name}}</td>
          <td>{{c.username}}</td>
          <td>{{c.email}}</td>
          <td >{{c.password}}</td>
          <td>{{c.role}}</td>

          <td *ngIf="c.name!=='Administrator'">
            <a class="clickable" title="Add" class="spacer" data-toggle="tooltip"><i
                class="material-icons">&#xE03B;</i></a>
            <a class="clickable" class="spacer" class="edit" title="Edit" data-toggle="modal"
              data-target="#modalLoginForm" (click)="hello1(c.idAuthor,c.name,c.email,c.role)"><i
                class="material-icons">&#xE254;</i></a>
            <a class="clickable" class="spacer" class="delete" title="Delete" (click)="showModal(c.idAuthor)"
              data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a>
          </td>


        </tr>
      </table>
      <div class="container">
        <ul class="pagination">
          <li calss="page-item" [ngClass]="{'active':i==currentPage}" *ngFor="let p of pages;let i=index">
            <a class="clickable" class="page-link " (click)="gotoPage(i)">{{i}}</a>
          </li>
        </ul>
      </div>

    </div>
  </div>

</div>


<div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center " style="background-color: #09b393">
        <h4 class="modal-title w-100  font-weight-bold " style="color:white">Modify Author</h4>
        <button type="button" style="color:rgb(216, 216, 216)" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form [formGroup]="formGlobal">
      <div class="modal-body mx-3">
        <div class="md-form mb-5">
          <i class="material-icons">
            face
          </i>
          <label data-error="wrong" data-success="right" for="defaultForm-email"> name</label>
          <input type="text" value={{author.name}} disabled id="name" class="form-control validate">

        </div>

        <div class="md-form mb-5">
          <i class="material-icons">
            supervisor_account
            </i>



            <label data-error="wrong" data-success="right" for="defaultForm-email">Pseudo:</label>
            <input [(ngModel)]=author.username id="login" class="form-control validate" formControlName="login">
            <div style="background: tomato" *ngIf="authorService.isLoginAvailable==true">
                <span style="color:white;font-weight:bold"class="error-message">
                    pseudo already taken , try another one
                  </span>
            </div>



        </div>

        <div class="md-form mb-5">

          <i class="material-icons">
            https
          </i>

          <label data-error="wrong" data-success="right" for="defaultForm-email"> password</label>
          <input type="password"[(ngModel)]="author.password"  name="pass" required formControlName="pass" class="form-control validate">
        <div  style="background: tomato"  *ngIf="formGlobal.controls['pass'].invalid" >
            <span style="color:white;font-weight:bold"class="error-message">
                enter password please: required field
              </span>
        </div>

        </div>



        <div class="md-form mb-4">
          <i class="material-icons">
            email
          </i>
          <label data-error="wrong" data-success="right" for="defaultForm-pass">email</label>

          <input type="email" value={{author.email}} disabled id="email" class="form-control validate">
        </div>
        <div class="md-form mb-4">
          <i class="material-icons">
            portrait
          </i>
          <label data-error="wrong" data-success="right" for="defaultForm-pass">role</label>

          <select [(ngModel)]="author.role" style="height:42px"
            class="form-control validate ng-pristine ng-valid ng-touched">
            <option value="Dev" selected>Dev</option>
            <option value="Team Leader">Team Leader</option>

          </select>

        </div>
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <div *ngIf="authorService.isLoginAvailable==false" class="modal-footer d-flex justify-content-left">
    <button  *ngIf="formGlobal.controls['pass'].valid"  class=" btn-raised btn-success" type="submit" data-dismiss="modal" (click)="ModifyAuthor(author)">Modify</button>
        </div>
        <div class="modal-footer d-flex justify-content-right">
          <button class=" btn-danger" data-dismiss="modal" style="color:white">Cancel</button>
        </div>
      </div>
    </form>
    </div>
  </div>
</div>



<div class="modal fade" id="TeamModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content"  >
      <div class="modal-header text-center " style="background-color: #09b393">
        <h4 class="modal-title w-100  font-weight-bold " style="color:white">Team List</h4>
        <button type="button" style="color:rgb(216, 216, 216)" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>


    </div>
    <div class="modal-body">
        <div class="md-form mb-5" *ngFor="let list of TeamList" >


<div class="card card-info">
    <div class="card-block text-center">
        <span class="ms-icon ms-icon-circle ms-icon-xxlg mb-4 color-info"><i class="material-icons">
            work
            </i></span>
        <h4 class="color-info">Team Name : {{list.teamName}}</h4>
        <p>Team Leader Name : {{list.nameLeader}}</p>
        <a href="javascript:void(0)" class="btn btn-raised btn-info"><i class="zmdi zmdi-airplane"></i> Details</a>
    </div>

        </div>
  </div>
  </div>
</div>
