<nav class="gtco-nav" role="navigation">
  <div class="container">
    <div class="row">

      <div class="col-sm-2 col-xs-12">
        <img src="../../../assets/images/logo.png" alt="hr">

        <div id="gtco-logo"><a href="index.html">HRD<em>Tipigit</em></a></div>
      </div>
      <div class="col-xs-10 text-right menu-1 main-nav">
        <ul *ngIf="loginauth.isUserLoggedIn()">
          <li class="active"><a data-nav-section="about" [routerLink]="['about']">Home</a></li>
          <li><a *ngIf="loginauth.isAdmin()" [routerLink]="['authors']" data-nav-section="about">Developers</a></li>
          <li><a *ngIf="loginauth.isAdmin()" [routerLink]="['projects']" data-nav-section="about">all projects</a></li>
          <li><a *ngIf="loginauth.isUserLoggedIn()" [routerLink]="['authProject']" data-nav-section="about">your
              projects</a></li>
          <li><a *ngIf="loginauth.isUserLoggedIn()" [routerLink]="['test']" data-nav-section="about">Tasks</a></li>
          <li><a *ngIf="loginauth.isUserLoggedIn()" [routerLink]="['commmitList']" data-nav-section="about">Commit
              List</a></li>
          <li><a *ngIf="loginauth.isAdmin()" [routerLink]="['report']" data-nav-section="about">Reports for projects</a>
          <li><a *ngIf="loginauth.isAdmin()" [routerLink]="['chart']" data-nav-section="about">Reports for authors</a></li>




          <div class="w3-dropdown-hover">

            <li>
              <i class="zmdi zmdi-notifications-active zmdi-hc-fw"></i>
              <span class="badge-pill badge-pill-pink">{{nbrNotif}}</span>

              <div *ngFor="let list of ListNotifs" class="w3-dropdown-content w3-bar-block w3-border">
            <li><a class="w3-bar-item w3-button">{{list.idNotification}}
                {{list.username}},{{list.message}},{{list.dateTimestamp}}</a></li>
            <i class="fa fa-thumb-tack fa-fw"></i> 3 New Considerations
            <span class="pull-right text-muted small">12 minutes ago</span>
          </div>
          </li>
      </div>



      <li class="btn-cta"><a *ngIf="loginauth.isUserLoggedIn()" href="#" (click)="logout()"><span>logout</span></a></li>




      <!-- For external page link -->
      <!-- <li><a href="http://gettemplates.co/" class="external">External</a></li> -->
      </ul>


    </div>

  </div>

  </div>

</nav>

<section id="gtco-hero" class="gtco-cover" style="background-image: url(../../../assets/images/background.jpg);"
  data-section="home" data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-md-offset-0 text-center">
        <div class="display-t">
          <div class="display-tc">
            <h1 class="animate-box" data-animate-effect="fadeIn"></h1>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="gtco-about" data-section="about">
  <div class="container">

  </div>
</section>

<div class="snack-wrap">
  <input type="checkbox" class="snackclose animated" id="close" /><label class="snacklable animated"
    for="close"></label>
  <div class="snackbar animated">
    <p><strong>Notice:</strong> This is a pure CSS snackbar. Click to dismiss.</p>
  </div>
</div>
