<div class="container">
  <div class="card animated fadeInUp animation-delay-7">
    <div class="ms-hero-bg-royal ">
      <h3 class="color-white index-1 text-center pb-4 pt-4">Project's</h3>

    </div>
    <div><button class="btn btn-raised btn-success">Add Project</button></div>
    <div class="card-block" *ngFor="let c of ListProject">

      <div class="ms-media-list" id="projectId">
        <div class="media mb-2">
          <a class="mr-3" [routerLink]="['projectDetail']">
            <img class="media-object" src="../../../assets/images/avatarProject.png"> {{c.namespace}}</a>
          <div class="media-body">
            <h4 class="mt-0 mb-0 color-warning">{{c.name}}</h4>

            <a href="mailto:joe@example.com?subject=feedback"></a>
            <div class="">
              <details (click)="SearchSprint(c.name)">
                <summary><a role="button">details</a> </summary>



                <article class="card card-primary wow zoomInRight animation-delay-5 mb-4"
                  style="visibility: visible; animation-name: zoomInRight;">
                  <div class="card-block card-block-big">
                    <div class="row">
                      <div class="">
                        <img src="assets/img/demo/post1.jpg" alt="" class="img-fluid mb-4"> </div>

                      <div class="col-xl-6 mb-6">
                        <h3 class="no-mt">
                          <a href="javascript:void(0)">description</a>
                          <br />

                          <h4 class="forcage">{{c.description}}</h4>
                          <hr class="dashed">
                          <a href="javascript:void(0)">Sprints of the project "{{c.name}}"</a>
                        </h3>



                        <div class="card" *ngFor="let s of ListSprints">
                          <div *ngIf="ListSprints?.length > 0">
                            <table class="table table-no-border">

                              <tr>
                                <th>Id </th>
                                <th>Sprint name </th>
                                <th>Starting date </th>
                                <th>deadline</th>
                                <th>dayNumber</th>
                              </tr>
                              <tr>

                                <td>

                                  <a data-toggle="tooltip" data-placement="top" title="Hooray!">{{s.idSprint}}</a></td>
                                <td><a data-placement="bottom" title="hit me to see my tasks!">{{s.sprintName}}</a></td>
                                <td><a data-placement="bottom" title="hit me to see my tasks!">{{s.startingDate}}</a>
                                </td>
                                <td><a data-placement="bottom" title="hit me to see my tasks!">{{s.endDate}}</a></td>
                                <td><a data-placement="bottom" title="hit me to see my tasks!">{{s.dayNumber}}</a></td>

                              </tr>
                            </table>

                          </div>
                          <a href="" data-toggle="modal" data-target="#modalTaskList" (click)="GetListTask(s.idSprint)">
                            <i _ngcontent-c5="" class="ml-1 no-mr zmdi zmdi-long-arrow-right">Edit sprint Tasks</i></a>
                        </div>

                        <div *ngIf="ListSprints?.length === 0">

                          <h2>no backlog for this</h2>
                          <button class="btn btn-raised btn-success" data-toggle="modal" data-target="#modalBacklogForm"
                            (click)="recuperateProjectName(c.name)">Add backlog to the project {{c.name}}</button>
                        </div>
                      </div>




                    </div>

                  </div>

                  <div class="row">
                    <div class="col-lg-8">
                      by
                      <a href="#">{{c.name}}</a>
                    </div>
                    <div class="col-lg-4 text-right">
                      <a href="home/projects#projectId"><i class="material-icons">
                          read less
                        </i>
                        <i class="ml-1 no-mr zmdi zmdi-long-arrow-right"></i>
                      </a>
                    </div>
                  </div>
                </article>
              </details>
            </div>
          </div>
        </div>

      </div>
      <hr class="double dashed">
    </div>

  </div>
</div>

<!-- adding backlog to a project div -->
<div class="modal fade" id="modalBacklogForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center " style="background-color: #09b393">
        <h4 class="modal-title w-100  font-weight-bold " style="color:white">Add backlog</h4>
        <button type="button" style="color:rgb(239, 239, 243)" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <div class="md-form mb-5">
          <i class="material-icons">
            perm_media

          </i>
          <label data-error="wrong" data-success="right" for="defaultForm-email"> Project name</label>
          <input type="text" value="{{nameProject}}" disabled class="form-control validate">

        </div>



        <div class="md-form mb-4">
          <i class="material-icons">
            description

          </i>
          <label data-error="wrong" data-success="right" for="defaultForm-pass" required>Base sheet ID</label>
          <input type="text" data-toggle="tooltip" data-placement="bottom" title="Tooltip on bottom"
            [(ngModel)]="sheetsId" name="sheetsId" id="sheetID" class="form-control validate">

        </div>
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <div class="modal-footer d-flex justify-content-left">

          <button class="btn btn-raised btn-success" (click)="addBacklog()">Add Backlog</button>
          

          <div *ngIf="showSpinner" >
            <span><i class="fa fa-spinner fa-spin" style="font-size:150px" [ngStyle]="{'font-size': size+'px'}" aria-hidden="true"></i></span>
          </div>
        </div>
        <div *ngIf="showSpinner"class="modal-footer d-flex justify-content-right">
          <button class="btn btn-danger" data-dismiss="modal" style="color:white">Cancel</button>
        </div>
        <div *ngIf="!showSpinner" >
          <button class="btn btn-danger" style="color:rgb(239, 239, 243)"  data-dismiss="modal" aria-label="Close">

            done
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!--task modal List-->

<div class="modal fade" id="modalTaskList" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header text-center " style="background-color: #8bc34a">
        <h4 class="modal-title w-100  font-weight-bold " style="color:white">List tasks</h4>
        <button type="button" style="color:rgb(239, 239, 243)" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3 table-wrapper-scroll-y my-custom-scrollbar">




        <table class="table table-striped table-wrapper-scroll-y table-wrapper-scroll-x" id="datatable">
          <tr>
            <th>description </th>
            <th></th>
            <th></th>
            <th> </th>
            <th> </th>
            <th>authorName </th>
            <th>startingDate</th>
            <th>endingDate</th>
            <th>taskKey</th>
            <th>progress</th>
            <th>Actions</th>
          </tr>
          <tr *ngFor="let T of ListTask">
            <td colspan="5">{{T.description}}</td>
            <td>
              <select (change)="selectChangeHandler($event)">
                <option>{{T.authorName}}</option>
                <option *ngFor="let a of AuthorsName ">{{a}}</option>
              </select>

            </td>
            <td>{{T.startingDate}}</td>
            <td>{{T.endingDate}}</td>
            <td>{{T.keyTask}}</td>
            <td>{{T.state}}</td>
            <a class="clickable" class="spacer" class="edit" title="save" (click)="saveauthName(T.idTask)"
              data-toggle="tooltip"><i class="material-icons">
                save
              </i></a>

          </tr>

        </table>
      </div>

      <div class="modal-footer d-flex justify-content-center">
        <button class="btn btn-success" data-dismiss="modal" style="color:white">ok</button>
      </div>
    </div>
  </div>
</div>




<!-- end task modal List-->
