.read-more{
  color: blue !important;
}
.hidden {
  display:none;
  }
  .forcage
  {
    color: grey !important;
  }
  .my-custom-scrollbar {
    position: relative;
    height: 200px;
    overflow: auto;
    }
    .table-wrapper-scroll-y {
    display: block;
    }
