<div  style="width:800px; margin:0 auto;">



<div *ngFor="let c of authorName " class="ms-collapse" role="tablist" >
    <div class="mb-0 card card-default">
        <div   class="card-header" role="tab">
            <h4 class="card-title ms-rotate-icon">
                <a class="collapsed" role="button" (click)="show()" data-toggle="collapse" data-target="#collapseOne" >
                    <i class="zmdi zmdi-attachment-alt"></i>{{c}}
                </a>
            </h4>
        </div>
        <div id="collapseOne" class="card-collapse collapse" role="tabpanel" >
            <div class="card-block">
                {{c}}
            </div>
        </div>
    </div>
</div>
</div>
